extends layout

block content
  .main.container
    .row
      .col-md-12.text-center
        h1.display-4.margin-bottom-60 Wireless Sensor Networks (Lab)
    .row
      .col-md-6
        h1.author-title About Author
        div.author
          img(src="/images/musa.jpg", alt="")
          p Md Musa
          p Matrikelnummer: 10010275
          p Leibniz Universität Hannover
          p Email: musa01717@gmail.com
        div.author
          img(src="/images/avatar.png", alt="")
          p Simon Ollander
          p Matrikelnummer: 1000000
          p Georg-August-Universität Göttingen
          p Email: 

      .col-md-6
        h1.author-title About Professor & Lab Assistent
        div.author
          img(src="/images/avatar.png", alt="")
          p Dr. Omar Alfandi
          p Research and Teaching Associate
          p Telematics Group TMG
          p Institute of Computer Science
          p Georg-August-Universität Göttingen
        div.author
          img(src="/images/avatar.png", alt="")
          p Luca Hernández Acosta
          p Georg-August-Universität Göttingen
          p Email:
     
